*{
	box-sizing: border-box;
}

html {
    width: 100%;
    height: auto;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


.left {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 30px;
    left: 40px;
}

.line2 {
    top: 75px;
}

.line3 {
    color: orange;
    top: 130px;
}

input {  
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
}

#user_input {
    width: 60%;
    margin-top: 150px;
}

#button {
    width: 100px;
    margin-top: 20px;  
    background-color: #25386a;
    color: #62c2e8;
}

.flip{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    position: absolute;
    width: 30%;
    height: 40%;
    top: 2in;
    left: 3in;
}

.magic{
    position: absolute;
    top: 7%;
    left: 59%;
    width: 15%;
}

.rotate {
    animation: rotation 10s infinite linear;
}
  
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}

#view_history {
    width: 100px;
    margin-top: 55%;
    background-color: #732926;
    color: #eccf4d;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
}

.modal_content {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    border-radius: 10px;
    width: 60%; 
    height: 94%;
    padding-left: 30px;
    padding-right: 30px;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
  
.close:hover, .close:focus {
    color: red;
    cursor: pointer;
}

.x_close {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.section_header {
    font-family: 'Piedra', cursive;
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

#history {
    color: white;
    font-size: 30px;
    position: absolute;
}

.magic_options {
    position: absolute;
    width: 8%;
}

.clickable:hover {
    cursor: pointer;
    filter: brightness(85%);
}

#option1 {
    top: 15%;
    right: 2.5%;
}

#option2 {
    top: 35%;
    right: 1.2%;

    width: 10%;
}

#option3 {
    top: 57%;
    width: 9%;
    right: 1.8%;
}

#option4 {
    top: 79%;
    right: 2.1%;
    width: 8.5%;
}

.input_required {
    display: none;
}

.alert {
    color: black;
    font-size: 35px;
    position: absolute;
    top: 48%;
    left: 21.5%;
}

.bubble_speech {
    display: none;
    text-align: center;
}

.magic2 {
    display: none;
    top: 55px;
}

.magic3 {
    display: none;
    top: 40px;
    left: 58%;
    width: 17%;
}

.magic4 {
    display: none;
}