body {
    overflow-x: hidden;
}

.hidden {
    visibility: hidden;
}

.alert_box {
    position: absolute;
    right: 0;
    background: rgb(45, 179, 4);
    font-size: 20px;
    top: 10px;
    padding: 15px 40px 15px 15px;
    color: white;
    min-width: 350px;
    z-index: 10;
}

.alert_box .close_alert {
    font-size: 30px;
    position: absolute;
    right: 10px;
    top: 10%;
    cursor: pointer;
    z-index: 11;
}

.alert_box.show::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    background: rgb(60, 255, 0);
    width: 100%;
    box-sizing: border-box;
    z-index: 11;
    animation: hideMeter 3s linear;
}

#fail_message {
    background: rgb(133, 7, 7);
}

#fail_message.show::before {
    background: rgb(255, 0, 0);
    animation: hideMeter 5s linear;
}

#warning_message {
    background: rgb(255, 153, 0);
    color: black;
}

#warning_message.show::before {
    background: rgb(253, 101, 0);
    animation: hideMeter 5s linear;
}

#bad_email_message {
    background: rgb(239, 255, 0);
    color: black;
}

#bad_email_message.show::before {
    background: black;
    animation: hideMeter 5s linear;
}

@keyframes hideMeter {
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}

.alert_box.show {
animation: showAlert 1s ease forwards;
}

@keyframes showAlert {
    0% {
        transform: translateX(100%);
    }
    40% {
        transform: translateX(-15%);
    }
    80% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-10px);
    }
}

.alert_box.hide {
    animation: hideAlert 1s ease forwards;
}

@keyframes hideAlert {
    0% {
        transform: translateX(-10px);
    }
    40% {
        transform: translateX(0%);   
    }
    80% {
        transform: translateX(-15%);
    }
    100% {
        transform: translateX(100%);
    }
}